body{
    background-image: linear-gradient( #5AB9EA, #CAFAFE);
}

h1{
    color: brown;
}


.col-parent{
    padding-top: 15px;
}

.card{
    border-style: inset;
    border-color: darkcyan;
    align-items: center;
    border-radius: 10%;
}

.img{
    align-self: center;
}

.pageNm, .card-footer, .card-body, .logo{
    text-align: center;
}

li{
    list-style: none;
}

.a:link, a:visited, .fa-paw, h4{
    color: #5AB9EA;
}

.contactUs:link .contactUs:visited{
    color: dimgray;
}